<!DOCTYPE html> 
<html> 
  <head> <!-- classes.html--> 
  <title>Classes</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head> 
    <body> 
      <nav>
        <a href="/">Dashboard</a> |
        <a href="/recipes">Recipes</a> |
        <a href="/recbk">Recipe Book</a> |
        <a href="/class_ingredients">Class Ingredients</a> |
        <a href="/booking">Booking Calendar</a> |
        <a href="/shoplist">Shopping List</a> |
        <a href="/admin">Admin</a>
      </nav>

      <main>
        <h1>Classes</h1>
        
        <table>
          <thead>
            <tr>
              
              <th>ClassCode</th>
              
              <th>LineNo</th>
              
              <th>Misc1</th>
              
              <th>RoomNo</th>
              
              <th>CourseName</th>
              
              <th>Misc2</th>
              
              <th>Year</th>
              
              <th>Dept</th>
              
              <th>StaffCode</th>
              
              <th>ClassSize</th>
              
              <th>TotalSize</th>
              
              <th>TimetableYear</th>
              
              <th>Misc3</th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr>
              
              <td>10A</td>
              
              <td>1</td>
              
              <td>None</td>
              
              <td>101</td>
              
              <td>Math</td>
              
              <td>None</td>
              
              <td>2025</td>
              
              <td>MathDept</td>
              
              <td>VP</td>
              
              <td>30</td>
              
              <td>30</td>
              
              <td>2025</td>
              
              <td>None</td>
              
            </tr>
            
            <tr>
              
              <td>10A</td>
              
              <td>2</td>
              
              <td>None</td>
              
              <td>102</td>
              
              <td>English</td>
              
              <td>None</td>
              
              <td>2025</td>
              
              <td>EngDept</td>
              
              <td>JD</td>
              
              <td>28</td>
              
              <td>28</td>
              
              <td>2025</td>
              
              <td>None</td>
              
            </tr>
            
          </tbody>
        </table>
        
      </main>

    </body>
    </html>