<!DOCTYPE html> 
<html> 
  <head> <!-- teachers.html--> 
  <title>Teachers</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head> 
    <body> 
      <nav>
        <a href="/">Dashboard</a> |
        <a href="/recipes">Recipes</a> |
        <a href="/recbk">Recipe Book</a> |
        <a href="/class_ingredients">Class Ingredients</a> |
        <a href="/booking">Booking Calendar</a> |
        <a href="/shoplist">Shopping List</a> |
        <a href="/admin">Admin</a>
      </nav>

      <main>
        <h1>Staff</h1>
        
        <table>
          <thead>
            <tr>
              
              <th>code</th>
              
              <th>last_name</th>
              
              <th>first_name</th>
              
              <th>title</th>
              
              <th>email</th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr>
              
              <td>JA</td>
              
              <td>Aro</td>
              
              <td>Jesah</td>
              
              <td>Ms</td>
              
              <td>jesaharo@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Ba</td>
              
              <td>Bateup</td>
              
              <td>Sarah</td>
              
              <td>Ms</td>
              
              <td>sarahbateup@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CY</td>
              
              <td>Bradley</td>
              
              <td>Conor</td>
              
              <td>Mr</td>
              
              <td>conorbradley@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JY</td>
              
              <td>Bradley</td>
              
              <td>Janna</td>
              
              <td>Mrs</td>
              
              <td>JannaBradley@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JB</td>
              
              <td>Brownie</td>
              
              <td>Jane</td>
              
              <td></td>
              
              <td>janebrownie@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>HB</td>
              
              <td>Bruns</td>
              
              <td>Hilke</td>
              
              <td>Ms</td>
              
              <td>hilkebruns@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>FC</td>
              
              <td>Cabanero</td>
              
              <td>Joy</td>
              
              <td>Ms</td>
              
              <td>joycabanero@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CA</td>
              
              <td>Callawick</td>
              
              <td>Alexandra</td>
              
              <td>Mrs</td>
              
              <td>alexcallawick@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CP</td>
              
              <td>Campion</td>
              
              <td>Peter</td>
              
              <td>Mr</td>
              
              <td>PeterCampion@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Ch</td>
              
              <td>Chinn</td>
              
              <td>Gail</td>
              
              <td>Mrs</td>
              
              <td>GailChinn@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JK</td>
              
              <td>Clark</td>
              
              <td>James</td>
              
              <td>Mr</td>
              
              <td>JamesClark@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CL</td>
              
              <td>Collins</td>
              
              <td>Chris</td>
              
              <td>Dr</td>
              
              <td>chriscollins@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Col</td>
              
              <td>Colman</td>
              
              <td>Cassandra</td>
              
              <td>Ms</td>
              
              <td>CassandraColman@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CB</td>
              
              <td>Conn</td>
              
              <td>Belinda</td>
              
              <td></td>
              
              <td>belindaconn@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JC</td>
              
              <td>Cook</td>
              
              <td>Justin</td>
              
              <td>Mr</td>
              
              <td>JustinCook@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JD</td>
              
              <td>Dalgarno</td>
              
              <td>John</td>
              
              <td>Mr</td>
              
              <td>johndalgarno@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Dk</td>
              
              <td>Diplock</td>
              
              <td>Maryke</td>
              
              <td>Mrs</td>
              
              <td>marykediplock@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>SD</td>
              
              <td>Dutt</td>
              
              <td>Shalendra</td>
              
              <td>Mr</td>
              
              <td>ShalendraDutt@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>AE</td>
              
              <td>Evasco</td>
              
              <td>Arleen</td>
              
              <td>Ms</td>
              
              <td>arleenevasco@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Gr</td>
              
              <td>Greig</td>
              
              <td>Annemarie</td>
              
              <td>Mrs</td>
              
              <td>annemariegreig@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Hj</td>
              
              <td>Harrison</td>
              
              <td>Janice</td>
              
              <td>Mrs</td>
              
              <td>janiceharrison@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>MI</td>
              
              <td>Hetherington</td>
              
              <td>Michelle</td>
              
              <td>Mrs</td>
              
              <td>michellehetherington@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>SH</td>
              
              <td>Hilson</td>
              
              <td>Sonica</td>
              
              <td>Mrs</td>
              
              <td>sonicahilson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>HE</td>
              
              <td>Hulme</td>
              
              <td>Monica</td>
              
              <td>Ms</td>
              
              <td>monicahulme@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>TJ</td>
              
              <td>Johnson</td>
              
              <td>Tina</td>
              
              <td>Ms</td>
              
              <td>tinajohnson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>KN</td>
              
              <td>Kelderman</td>
              
              <td>Ino</td>
              
              <td>Mr</td>
              
              <td>inokelderman@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>LI</td>
              
              <td>King</td>
              
              <td>Lachlan</td>
              
              <td>Mr</td>
              
              <td>LachlanKing@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Lr</td>
              
              <td>Lauder</td>
              
              <td>Fiona</td>
              
              <td>Ms</td>
              
              <td>fionalauder@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Le</td>
              
              <td>Lee</td>
              
              <td>Sheldon</td>
              
              <td>Mr</td>
              
              <td>sheldonlee@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Mn</td>
              
              <td>Mallinson</td>
              
              <td>Philippa</td>
              
              <td>Ms</td>
              
              <td>philippamallinson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>MA</td>
              
              <td>Mathieson</td>
              
              <td>Christine</td>
              
              <td>Mrs</td>
              
              <td>christinemathieson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Mu</td>
              
              <td>McClure</td>
              
              <td>Bernie</td>
              
              <td>Mrs</td>
              
              <td>berniemcclure@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>IMC</td>
              
              <td>McDonald</td>
              
              <td>Ian</td>
              
              <td>Mr</td>
              
              <td>IanMcDonald@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Am</td>
              
              <td>McGrath</td>
              
              <td>Anne</td>
              
              <td>Mrs</td>
              
              <td>annemcgrath@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>HM</td>
              
              <td>McKee</td>
              
              <td>Holly</td>
              
              <td>Ms</td>
              
              <td>hollymckee@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Mc</td>
              
              <td>McMullan</td>
              
              <td>Raelene</td>
              
              <td>Mrs</td>
              
              <td>raelenemcmullan@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>BMP</td>
              
              <td>Mellsop</td>
              
              <td>Brooke</td>
              
              <td>Ms</td>
              
              <td>brookemellsop@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JM</td>
              
              <td>Minnaar</td>
              
              <td>Johan</td>
              
              <td>Mr</td>
              
              <td>johanminnaar@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>MM</td>
              
              <td>Minnaar</td>
              
              <td>Mariska</td>
              
              <td>Mrs</td>
              
              <td>mariskaminnaar@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>GM</td>
              
              <td>Monaheng</td>
              
              <td>Gloria</td>
              
              <td>Ms</td>
              
              <td>gloriamonaheng@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>SO</td>
              
              <td>O&#39;Malley</td>
              
              <td>Siobhan</td>
              
              <td>Mrs</td>
              
              <td>siobhanomalley@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>PH</td>
              
              <td>Parikh</td>
              
              <td>Brijen</td>
              
              <td>Mr</td>
              
              <td>sportshub@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>BP</td>
              
              <td>Parker</td>
              
              <td>Brooke</td>
              
              <td>Miss</td>
              
              <td>brookeparker@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>PI</td>
              
              <td>Pinkerton</td>
              
              <td>Anna</td>
              
              <td>Mrs</td>
              
              <td>annapinkerton@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>VP</td>
              
              <td>Pringle</td>
              
              <td>Vanessa</td>
              
              <td>Ms</td>
              
              <td>vanessapringle@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>PQ</td>
              
              <td>Quilala</td>
              
              <td>Paolo</td>
              
              <td>Mr</td>
              
              <td>PaoloQuilala@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>MR</td>
              
              <td>Ram</td>
              
              <td>Mohinesh</td>
              
              <td>Mr</td>
              
              <td>mohineshram@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>VR</td>
              
              <td>Ram</td>
              
              <td>Vikashni</td>
              
              <td>Mrs</td>
              
              <td>vikashniram@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Rs</td>
              
              <td>Reeves</td>
              
              <td>Adrienne</td>
              
              <td>Mrs</td>
              
              <td>adriennereeves@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>RI</td>
              
              <td>Rennie</td>
              
              <td>Shanae</td>
              
              <td>Miss</td>
              
              <td>ShanaeRennie@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>NR</td>
              
              <td>Richards</td>
              
              <td>Nic</td>
              
              <td>Mr</td>
              
              <td>principal@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>BR</td>
              
              <td>Roper</td>
              
              <td>Bronte</td>
              
              <td>Ms</td>
              
              <td>bronteroper@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>RY</td>
              
              <td>Ryan</td>
              
              <td>Rebecca</td>
              
              <td>Ms</td>
              
              <td>beckryan@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>SR</td>
              
              <td>Sadler</td>
              
              <td>Janice</td>
              
              <td>Ms</td>
              
              <td>janicesadler@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>GS</td>
              
              <td>Smith</td>
              
              <td>Gus</td>
              
              <td>Mr</td>
              
              <td>GusSmith@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>TB</td>
              
              <td>Talbot</td>
              
              <td>Mike</td>
              
              <td>Mr</td>
              
              <td>miketalbot@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>LT</td>
              
              <td>Tame</td>
              
              <td>Linda</td>
              
              <td>Ms</td>
              
              <td>LindaTame@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>BT</td>
              
              <td>Tapper</td>
              
              <td>Ben</td>
              
              <td>M</td>
              
              <td>bentapper@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Tm</td>
              
              <td>Thompson</td>
              
              <td>Steve</td>
              
              <td>Mr</td>
              
              <td>stevethompson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>MTN</td>
              
              <td>Thomson</td>
              
              <td>Mike</td>
              
              <td>Mr</td>
              
              <td>mikethomson@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Jt</td>
              
              <td>Thorpe</td>
              
              <td>Judith</td>
              
              <td>Ms</td>
              
              <td>judiththorpe@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>FUS</td>
              
              <td>Usion</td>
              
              <td>F</td>
              
              <td>s</td>
              
              <td>FUsion@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>CV</td>
              
              <td>Veale</td>
              
              <td>Ciara</td>
              
              <td>Ms</td>
              
              <td>ciaraveale@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Ve</td>
              
              <td>Veale</td>
              
              <td>Kate</td>
              
              <td>Ms</td>
              
              <td>kateveale@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>KV</td>
              
              <td>Veale</td>
              
              <td>Kristy</td>
              
              <td>Ms</td>
              
              <td>KristyVeale@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>Wa</td>
              
              <td>Waller</td>
              
              <td>Michael</td>
              
              <td>Mr</td>
              
              <td>michaelwaller@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>WY</td>
              
              <td>Wastney</td>
              
              <td>Rachel</td>
              
              <td>Ms</td>
              
              <td>rachelwastney@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JW</td>
              
              <td>Webster</td>
              
              <td>Janet</td>
              
              <td>Ms</td>
              
              <td>janetwebster@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>We</td>
              
              <td>Weepu</td>
              
              <td>Christine</td>
              
              <td>Mrs</td>
              
              <td>christineweepu@westlandhigh.school.nz</td>
              
            </tr>
            
            <tr>
              
              <td>JE</td>
              
              <td>Wellard</td>
              
              <td>Jane</td>
              
              <td>Miss</td>
              
              <td>janewellard@westlandhigh.school.nz</td>
              
            </tr>
            
          </tbody>
        </table>
        
      </main>

  </body>
  </html>